* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.jeebookcard{
  margin: auto;
}
.jee {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  margin-top: 20px;
}
.neet {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  margin-top: 20px;
}
.booktitle {
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.booktitle div {
  display: flex;
  align-items: center;
  height: 100px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  background-color: #F9D930;
}
