.navbar{
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 100px;
}
.navbar nav{
    display: flex;
} 
.nav-menu ul{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.nav-menu ul li{
    margin: 0 10px;
}
nav .icons{
    margin: 0 10px;
}
nav .icons img{
    margin: 0 10px;
}
nav{
    display: flex;
    align-items: center;
}
nav .search input{
    padding: 5px;
}
nav .search button{
    padding:5px ;
}
nav div{
    padding:10px ;
    margin: 0 10px;
}
.search-box{
    width: 70%;
    height: 40px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid #d1d1d1;
    text-transform: capitalize;
    background: none;
    color: #a9a9a9;
    outline: none;
}
.search-btn{
    width: 20%;
    height: 40px;
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #383838;
    color: #fff;
    font-size: 15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
*{
    margin: 0;
    padding: 0;
}